@model IEnumerable<RES.DAL.Entities.PropertyModel>

@{
    ViewData["Title"] = "SearchResults";
}


<style>
	body {
		background-image: url('/images/pexels-charles-parker-5847764.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 100;
		margin-top: 50px;
		padding: 0;
		display: flex;
		flex-direction: column;
	}

	.content {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: wheat;
	}

	* {
		text-shadow: 2px 2px 4px black; 
	}

	h1, h2 {
		color: wheat;
		font-weight: bold;
	}

	p {
		color: white;
		font-weight: bold;
		font-size: 32px;
	}

	tr {
		color: wheat;
		background: rgba(0, 0, 0, 0.8);
		font-weight: bold;
		font-size: 16px;
	}



	form {
		margin-top: 50px;
		margin-bottom: 600px;
		color: wheat;
		font-size: 36px;
		font-weight: bold;
	}

	.container{
		text-align: center;
	}

	th {
		font-size: 22px;
		color: white;
	}
	

    }
	
}
	
</style>




<h1 style ="padding-left: 95px;">Search Results</h1>
<br />

@if (Model == null || !Model.Any())
{
	<p style="padding-left: 95px;" >You did not make a selection for each field, please return home and try again.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Price</th>
                <th>Square Feet</th>
                <th>Lot Size</th>
                <th>County</th>
                <th>Date Listed</th>
                <th>Address</th>
                <th>Description</th>
                <th>Listing URL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var property in Model)
            {
                <tr>
					<td style="border-right: 1px solid white;">@string.Format("{0:C}", property.Price)</td>
					<td style="border-right: 1px solid white;">@property.SquareFeet Sq/Ft</td>
					<td style="border-right: 1px solid white;">@property.LotSize Acres</td>
					<td style="border-right: 1px solid white;">@property.County County</td>
					<td style="border-right: 1px solid white;">@property.DateListed</td>
					<td style="border-right: 1px solid white;">Address: @property.Address</td>
					<td style="border-right: 1px solid white;">Property Description: @property.Description</td>
					<td style="border-right: 1px solid white;">Listing Link: <a href="@property.Url" target="_blank">@property.Url</a></td>
                </tr>
            }
        </tbody>
    </table>
}

